.container {
    font-family: sans-serif;
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
p {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.link_logo {
    text-decoration: none;
    display: inline-block;
}
.content {
    display: flex;
}
.flex {
    display: flex;
    flex-direction: column;
}

.logo   {
    margin: 63px 1px 40px 98px;
    font-size: 80px;
}
.menu_top {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    /*border: 1px solid #000000;*/
    background-color: #35444F;
    text-align: center;
    margin-bottom: 2rem;

}
.menu_top li {
    border-right: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 1rem 2rem;
}
.menu_top li:hover {
    font-weight: bold;
    background-color: #222F3A;
}
.menu_top li:first-child {
    border-left: 1px solid white;
}

.menu_side {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 200px;
    margin-right: 40px;
}

.menu_side li {
    padding: 1rem 0 1rem 2rem;
    color: #485863;
}
.menu_side li:hover {
    font-weight: bold;
    background-color: #DBDBDB;
    padding-left: 2.5rem;
}
/*.menu_side li:nth-child(2) {*/
/*    color: red;*/
/*}*/
.container_pic {
    height: 529px;
    border: 1px solid #000000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_pic {
    display: flex;
    vertical-align: center;
    justify-content: center;
    /*padding: 519px 397px;*/
    padding: 74px;
}
.center_pic:hover {
    transition: 500ms;
    transform: scale(1.2);
}
.menu_bottom {
    display: flex;
    justify-content: left;
    background-color: #63696E;
    text-align: center;
}
.menu_bottom li {
    padding: 1rem 2rem 1rem 3rem;
    color: black;
}
.menu_bottom li:hover {
    font-weight: bold;
    color: #3181A6;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.menu_bottom li:last-child {
    flex-grow: 1;
    padding-left: 16rem;
    text-decoration: none;
    color: black;
    font-weight:normal;
}

